[Unit]
Description=Simple Example
#After=network.target

[Service]
ExecStart=/home/class/labs-sec/lab2/simple_example/simple
WorkingDirectory=/home/class/labs-sec/lab2/simple_example
User=class
Environment=RUNMODE=production

[Install]
WantedBy=multi-user.target
